<mat-card class="card">
  <mat-card-content>
    <mat-card-title>Cadastro de Clientes</mat-card-title>
    <form [formGroup]="customerForm">
      <div class="row">
        <div class="col2">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="name" />
            <mat-error *ngIf="customerForm.value.name == ''">O nome é obrigatorio!</mat-error>
          </mat-form-field>
        </div>

        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cpf" formControlName="cpfCnpj" mask="CPF_CNPJ" [dropSpecialCharacters]="false" />
            <mat-error *ngIf="customerForm.value.cpfCnpj == ''">O cpf é obrigatorio!</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col2">
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" formControlName="email" />
            <mat-error *ngIf="customerForm.value.email == ''">O e-mail é obrigatorio!</mat-error>
          </mat-form-field>
        </div>

        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefone" formControlName="tel" mask="(00) 00000-0000" [dropSpecialCharacters]="false"/>
            <mat-error *ngIf="customerForm.value.tel == ''">O telefone é obrigatorio!</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" formGroupName="address">
        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cep" formControlName="zipCode" mask="00.000.000" (blur)="buscaCep()" />
            <mat-error *ngIf="customerForm.value.address?.zipCode == ''">O celular é obrigatorio!</mat-error>
          </mat-form-field>
        </div>

        <div class="col2">
          <mat-form-field class="full-width">
            <input matInput placeholder="Endereço" formControlName="street" />
            <mat-error *ngIf="customerForm.value.address?.street == ''">O endereço é obrigatorio!</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" formGroupName="address">
        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero" formControlName="number" />
            <mat-error *ngIf="customerForm.value.address?.number == ''">O numero é obrigatorio!</mat-error>
          </mat-form-field>
        </div>

        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Complemento" formControlName="complement" />
            <mat-error *ngIf="customerForm.value.address?.complement == ''">O complemento é obrigatorio!</mat-error>
          </mat-form-field>
        </div>

        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bairro" formControlName="district" />
            <mat-error *ngIf="customerForm.value.address?.district == ''">O celular é obrigatorio!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="address">
        <div class="col2">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cidade" formControlName="city" />
            <mat-error *ngIf="customerForm.value.address?.city == ''">A cidade é obrigatoria!</mat-error>
          </mat-form-field>
        </div>

        <div class="col1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Estado" formControlName="uf" />
            <mat-error *ngIf="customerForm.value.address?.uf == ''">O estado é obrigatorio!</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" *ngIf="enabledButtonSave" (click)="save()" [disabled]="!customerForm.valid">
        Salvar
      </button>
      <button mat-raised-button color="primary" *ngIf="enabledButtonDelete" (click)="delete()" >
        Apagar
      </button>
      <button mat-raised-button color="warn" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </mat-card-content>
</mat-card>
<span >{{operacaoCrud}}</span>
{{customerForm.value | json}}
