<div class="buttons"  >
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Pesquisa Produtos</mat-label>
      <input matInput placeholder="" [(ngModel)] = "searchText" type="{{typeInputSearch}}">
     </mat-form-field>
      <mat-radio-group aria-label="Selecione um criterio">
        <mat-radio-button value="1" [checked]="typeSearchProduct == 1" (change)="toggleTypeSearch(1)">Id</mat-radio-button>
        <mat-radio-button value="2" [checked]="typeSearchProduct== 2" (change)="toggleTypeSearch(2)">Código</mat-radio-button>
        <mat-radio-button value="3" [checked]="typeSearchProduct == 3" (change)="toggleTypeSearch(3)">Descrição</mat-radio-button>
      </mat-radio-group>
  </div>

  <div>
    <button mat-fab color="primary" (click)="search()" [disabled]="searchText.length == 0" aria-label="Pesquisar Produto" >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="addclick()" aria-label="Adicionar um cliente" class="buttonAdd" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>

