<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows="" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "id" sortActionDescription="Ordenar Por Id">Id</th>
    <td mat-cell *matCellDef="let customer">{{ customer.id }}</td>
  </ng-container>
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "name" sortActionDescription="Ordenar Por Nome">Nome</th>
    <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
  </ng-container>
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "cpfCnpj" sortActionDescription="Ordenar Por Cpf">Cpf</th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.cpfCnpj | mask : "CPF_CNPJ" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "tel" sortActionDescription="Ordenar Por Telefone">Telefone</th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.tel | mask : "(00) 00000-0000" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "email" sortActionDescription="Ordenar Por E-mail">E-mail</th>
    <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button matTooltip="Primary" (click)="editClick(row.id)" color="primary"
        aria-label="Editar Produto">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Primary" (click)="deleteClick(row.id)" color="warn"
        aria-label="Apagar produto">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecione uma página">
</mat-paginator>
